@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: black;
	margin: 0;

	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	@include font-smoothing;

	&::before {
		/* never visible - this is used in jQuery to check the current MQ */ 
		content: 'mobile';
		display: none;
	}

	@include MQ(L) {
		
		&::before {
			/* never visible - this is used in jQuery to check the current MQ */ 
			content: 'desktop';
		}
	}
}


/* -------------------------------- 

Main Components 

-------------------------------- */

body[data-hijacking="on"] {
	
	@include MQ(L) {
		overflow: hidden;
	}
}

.cd-section {
	height: 100vh;
	@include MQ(L) {

		[data-hijacking="on"] & {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;

			> div {
				visibility: visible;
			}
		}

		[data-hijacking="off"] & > div {
			opacity: 0;
		}

		[data-animation="scaleDown"] & > div{
			
			box-shadow: 0 0 0 rgba(darken($black, 10%), .4);
		}
	}
}

h1{
	font-weight: 800;
	font-size: 9.375rem;
	width: 50%;
	position: absolute;
	top: 0%;
}

h2{
	margin: 0;
	font-weight: 800;
	font-size: 7.25rem;
}

h3 {
	margin: 0;
}

.txt{
	z-index: 1;
}

.menu {
	font-size: 2.5rem;

	& li {
		list-style: none;

		a {
			white-space: nowrap;
			text-decoration: none;
			color: $black;
			transition: .1s;
			-webkit-transition: .1s;
			-moz-transition: .1s;
			-ms-transition: .1s;
			-o-transition: .1s;

			&:hover {
				font-weight: 600;
				transition: .1s;
				-webkit-transition: .1s;
				-moz-transition: .1s;
				-ms-transition: .1s;
				-o-transition: .1s;
			}
		}
	}
}

::-webkit-scrollbar{
	width: 7px;
	height: 7px;

	&-track{
		background-color: transparent;

		&-hover{
			background-color: $classic-white;
		}
	}
	&-thumb{
		background-color: $classic-white;
		border-radius: 10px;
	}
}

//PROJECTS ALL THEME
#prj {
	.prj_lst {
		display: flex;
		max-height: 400px;
		overflow-x: scroll;
		overflow-y: hidden;
		padding: 0 15% 1em 45%;
		margin-top: 5em;
		margin-left: -8%;
		gap: 3%;
		width: 120%;
		overflow-x: hidden;
		cursor: grab;

		&.active {
			cursor: grabbing;
		}
	}

	& article {
		min-width: 400px;
		padding: .5em;
		background-color: $classic-white;
		border-radius: 1em;
		-webkit-border-radius: 1em;
		-moz-border-radius: 1em;
		-ms-border-radius: 1em;
		-o-border-radius: 1em;
		
		& > .prj_img{
			width: 100%;
			border-radius: .5em;
			overflow: hidden;

			& img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		& > .txt {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin: auto 2%;
			
			a {
				display: flex;
			}
		}
	}
}
//CAREER ALL THEME
#crr ul {
	list-style: none;
	padding-left: 0;

	span {
		white-space: nowrap;
		width: 20%;
	}

	p {
		margin: 0;
		width: 30vw;
	}

	li:not(:last-child) {
		margin-bottom: 1em;
	}

	&:first-of-type {
		&::before{
			content: '';
			display: block;
			position: absolute;
			width: 3px;
			height: 15em;
			background-color: $black;
			margin-top: 2.5em;
			left: 16vw;
		}

		& li:first-of-type > p::before {
			content: '';
			display: block;
			position: absolute;
			border-radius: .5em;
			width: .75em;
			height: .75em;
			background-color: $black;
			margin-top: -.5em;
			left: 15.5vw;

		}

		& h3 {
			margin-left: 9vw;
			margin-bottom: 1em;
		}
		
		& li {
			display: flex;
		}

		& span {
			margin-right: 2em;
			text-align: end;
		}
	}

	&:last-of-type {
		text-align: end;

		&::before{
			content: '';
			display: block;
			position: absolute;
			width: 3px;
			height: 20em;
			background-color: $black;
			margin-top: 2.5em;
			right: 16vw;
		}

		& li:first-of-type > p::before {
			content: '';
			display: block;
			position: absolute;
			border-radius: .5em;
			width: .75em;
			height: .75em;
			background-color: $black;
			margin-top: -.5em;
			right: 15.5vw;

		}

		& h3 {
			margin-right: 9vw;
			margin-bottom: 1em;
		}

		& li {
			display: flex;
			flex-direction: row-reverse;
		}

		& span {
			margin-left: 2em;
			text-align: start;
		}
	}
}

//COMPETENCE ALL THEME
#cpt .content {
	background-color: $black;
	flex-direction: column;
	flex-wrap: wrap;

	background: radial-gradient(346.77% 7572.55% at 13.77% -111.14%, #AA4B6B 0%, #6B6B83 15%, #3B8D99 20%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	& > div {
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		margin: auto;
		width: 90%;
	}
	.tch {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
		max-width: 840px;
		align-content: center;

		//ADD TECHNO LOGO
		@include tchn;
	}
	.img{
		color: transparent;
		background: radial-gradient(346.77% 7572.55% at 13.77% -111.14%, #AA4B6B 0%, #6B6B83 15%, #3B8D99 80%);
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		width: 100px;
		height: 100px;
	}

	.lng {
		background: radial-gradient(346.77% 7572.55% at 13.77% -111.14%, #AA4B6B 0%, #6B6B83 1%, #3B8D99 20%);
		border-radius: 1em;
		padding: 2em;
		background-clip: initial;
		-webkit-background-clip: border-box;
		-webkit-text-fill-color: $black;

		h3 {
			font-weight: 800;
		}
		
		p {
			font-weight: 700;
		}
	}
}

.cd-section > div {
	width: 100%;
	height: 100%;

	.content {
		height: 96vh;
		margin: 2vh 2vw;
		border-radius: 2em;
		-webkit-border-radius: 2em;
		-moz-border-radius: 2em;
		-ms-border-radius: 2em;
		-o-border-radius: 2em;

		& > .plhld {
			width: 100%;
			height: 100%;
			border-radius: 1em;
			-webkit-border-radius: 1em;
			-moz-border-radius: 1em;
			-ms-border-radius: 1em;
			-o-border-radius: 1em;
		}
	}

	@include MQ(L) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		
		/* Force Hardware Acceleration */
		//@include transform(translateZ(0));
		translate: translateZ(0);
		//@include backface-visibility(hidden);
		backface-visibility: hidden;

		[data-hijacking="on"] & {
			position: absolute;
		}
	}
}

// @include theme('classic'){
body.classic{
	font-family: $classic-font;

	.content {
		background-color: $classic-white;
		padding: 2rem 2%;
		display: flex;
	}

	.plhld::after {
		border-radius: 1em;
		content: ' ';
		display: block;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.2;
		background-image: url(../img/grain.jpg);
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-size: cover;
		-webkit-border-radius: 1em;
		-moz-border-radius: 1em;
		-ms-border-radius: 1em;
		-o-border-radius: 1em;
	}
	
	// HOME
	& > #hm {
		.content {
			align-items: center;

			& > .txt {
				flex-basis: 90%;
			}

			& > .plhld {
				background: radial-gradient(118.21% 105.56% at 81.41% 22.76%, $classic-green 7.81%, $classic-orange 100%);
			}
		}

		& h2 {
			margin-top: 7em;
			margin-left: 10%;
			font-size: 2.5rem;
			font-weight: 500;
		}

		& ul {
			margin-left: 50%;
		}
	}

	// ABOUT
	& > #prp {
		.content {
			flex-direction: column;

			& > .plhld {
				background: radial-gradient(181.58% 231.65% at 59.78% -52.89%, $classic-blue 0%, $classic-pink 100%);
			}
		}

		p {
			margin-left: 35%;
		}

		h3 {
			z-index: 1;
			color: $classic-white;
			position: absolute;
			margin: 2em 2%;
			width: 88%;
		}
	}

	// PROJECTS
	& > #prj {
		color: $classic-white;
		
		.content {
			background: radial-gradient(107.13% 107.13% at 61.8% 135.36%, #000000 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(159.54% 217.2% at 117.17% -23.99%, #CE31DC 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(101.14% 183.47% at 2.29% 6.65%, #DB6B1A 0%, rgba(0, 0, 0, 0) 100%) , #000000;;
			flex-direction: column;
		}
		
		.txt:first-of-type {
			display: flex;

			h3 {
				margin: 5em 5% 2em 10%;
			}
		}

		article {
			.txt {
				color: $black;
				
				p {
					margin: 0;
				}
			}
		}
	}

	// CAREER
	& > #crr {
		.content{
			flex-direction: column;
			background: radial-gradient(96.57% 175.16% at 14.45% 50%, rgba(210, 207, 207, 0) 0%, #D268A2 100%), radial-gradient(76.25% 138.32% at -8.87% 50%, #AD2222 0%, #D2CFCF 100%);
			
			div {
				display: flex;
				justify-content: space-around;
			}
		}
	}
}
// }
