@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Syne:wght@400;500;600;700;800&display=swap");
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin: 0;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: "mobile";
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: "desktop";
  }
}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking=on] {
    overflow: hidden;
  }
}

.cd-section {
  height: 100vh;
  min-height: 720px;
}
@media only screen and (min-width: 1050px) {
  [data-hijacking=on] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking=on] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking=off] .cd-section > div {
    opacity: 0;
  }
  [data-animation=scaleDown] .cd-section > div {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  }
}

.content {
  min-height: 690px;
}

h2 {
  margin: 0;
  font-weight: 800;
  font-size: clamp(30px, 7vw, 7.25rem);
}

h3 {
  margin: 0;
}

.txt {
  z-index: 1;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track-hover {
  background-color: #DCDCDC;
}
::-webkit-scrollbar-thumb {
  background-color: #DCDCDC;
  border-radius: 10px;
}

#hm .content {
  align-items: center;
}
#hm .content > .txt {
  flex-basis: 90%;
}
#hm h1 {
  z-index: -1;
  font-size: 9.375rem;
  width: 50%;
  position: absolute;
  top: 0%;
}
#hm h2 {
  z-index: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  mix-blend-mode: hard-light;
  margin-top: 7em;
  margin-left: 10%;
  font-size: 2.5rem;
  font-weight: 500;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
#hm ul {
  margin-left: 50%;
}
#hm .menu {
  font-size: clamp(24px, 3vw, 40px);
}
#hm .menu li {
  list-style: none;
}
#hm .menu li a {
  white-space: nowrap;
  text-decoration: none;
  color: #000000;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
#hm .menu li a:hover {
  font-weight: 600;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

#prp p {
  margin-left: 35%;
}
#prp h3 {
  z-index: 1;
  position: absolute;
  margin: 2em 2%;
  width: 88%;
  font-size: clamp(20px, 2vw, 30px);
}
#prp .content {
  flex-direction: column;
}

#prj .content {
  flex-direction: column;
}
#prj .txt:first-of-type {
  display: flex;
}
#prj .txt:first-of-type h3 {
  margin: 5em 5% 2em 10%;
}
#prj .prj_lst {
  display: flex;
  max-height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0 15% 1em 45%;
  margin-top: 5em;
  margin-left: -8%;
  gap: 3%;
  width: 120%;
  overflow-x: hidden;
  cursor: -webkit-grab;
  cursor: grab;
}
#prj .prj_lst.active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
#prj article {
  min-width: 400px;
  padding: 0.5em;
  background-color: #DCDCDC;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
#prj article > .prj_img {
  width: 100%;
  border-radius: 0.5em;
  overflow: hidden;
}
#prj article > .prj_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#prj article > .txt {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto 2%;
}
#prj article > .txt p {
  margin: 0;
}
#prj article > .txt a {
  display: flex;
}

#crr .content {
  flex-direction: column;
}
#crr .content div {
  display: flex;
  justify-content: space-around;
}
#crr ul {
  list-style: none;
  padding-left: 0;
}
#crr ul span {
  white-space: nowrap;
  width: 20%;
}
#crr ul p {
  margin: 0;
  width: 30vw;
  font-size: clamp(16px, 2vw, 25px);
}
#crr ul li:not(:last-child) {
  margin-bottom: 1em;
}
#crr ul h3 {
  font-size: clamp(24px, 2vw, 32px);
}
#crr ul:first-of-type::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 15em;
  background-color: #000000;
  margin-top: 2.5em;
  left: 16vw;
}
#crr ul:first-of-type li:first-of-type > p::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 0.5em;
  width: 0.75em;
  height: 0.75em;
  background-color: #000000;
  margin-top: -0.5em;
  left: 15.5vw;
}
#crr ul:first-of-type h3 {
  margin-left: 9vw;
  margin-bottom: 1em;
}
#crr ul:first-of-type li {
  display: flex;
}
#crr ul:first-of-type span {
  margin-right: 2em;
  text-align: end;
}
#crr ul:last-of-type {
  text-align: end;
}
#crr ul:last-of-type::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 20em;
  background-color: #000000;
  margin-top: 2.5em;
  right: 16vw;
}
#crr ul:last-of-type li:first-of-type > p::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 0.5em;
  width: 0.75em;
  height: 0.75em;
  background-color: #000000;
  margin-top: -0.5em;
  right: 15.5vw;
}
#crr ul:last-of-type h3 {
  margin-right: 9vw;
  margin-bottom: 1em;
}
#crr ul:last-of-type li {
  display: flex;
  flex-direction: row-reverse;
}
#crr ul:last-of-type span {
  margin-left: 2em;
  text-align: start;
}

#cpt .content {
  flex-direction: column;
  flex-wrap: wrap;
}
#cpt .content > div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: auto;
  width: 90%;
}
#cpt .content .tch {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 840px;
  align-content: center;
}
#cpt .content .tch > .img.figma {
  -webkit-mask: url("../img/tch-lg/figma.svg") no-repeat center;
  mask: url("../img/tch-lg/figma.svg");
}
#cpt .content .tch > .img.sass {
  -webkit-mask: url("../img/tch-lg/sass.svg") no-repeat center;
  mask: url("../img/tch-lg/sass.svg");
}
#cpt .content .tch > .img.javascript {
  -webkit-mask: url("../img/tch-lg/javascript.svg") no-repeat center;
  mask: url("../img/tch-lg/javascript.svg");
}
#cpt .content .tch > .img.html {
  -webkit-mask: url("../img/tch-lg/html.svg") no-repeat center;
  mask: url("../img/tch-lg/html.svg");
}
#cpt .content .tch > .img.wordpress {
  -webkit-mask: url("../img/tch-lg/wordpress.svg") no-repeat center;
  mask: url("../img/tch-lg/wordpress.svg");
}
#cpt .content .tch > .img.photoshop {
  -webkit-mask: url("../img/tch-lg/photoshop.svg") no-repeat center;
  mask: url("../img/tch-lg/photoshop.svg");
}
#cpt .content .tch > .img.illustrator {
  -webkit-mask: url("../img/tch-lg/illustrator.svg") no-repeat center;
  mask: url("../img/tch-lg/illustrator.svg");
}
#cpt .content .tch > .img.linux {
  -webkit-mask: url("../img/tch-lg/linux.svg") no-repeat center;
  mask: url("../img/tch-lg/linux.svg");
}
#cpt .content .tch > .img.java {
  -webkit-mask: url("../img/tch-lg/java.svg") no-repeat center;
  mask: url("../img/tch-lg/java.svg");
}
#cpt .content .tch > .img.git {
  -webkit-mask: url("../img/tch-lg/git.svg") no-repeat center;
  mask: url("../img/tch-lg/git.svg");
}
#cpt .content .tch > .img.mysql {
  -webkit-mask: url("../img/tch-lg/mysql.svg") no-repeat center;
  mask: url("../img/tch-lg/mysql.svg");
}
#cpt .content .tch > .img.npm {
  -webkit-mask: url("../img/tch-lg/npm.svg") no-repeat center;
  mask: url("../img/tch-lg/npm.svg");
}
#cpt .content .tch > .img.nodejs {
  -webkit-mask: url("../img/tch-lg/nodejs.svg") no-repeat center;
  mask: url("../img/tch-lg/nodejs.svg");
}
#cpt .content .tch > .img.php {
  -webkit-mask: url("../img/tch-lg/php.svg") no-repeat center;
  mask: url("../img/tch-lg/php.svg");
}
#cpt .content .img {
  background-color: #000000;
  color: transparent;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
}
#cpt .content .lng {
  border-radius: 1em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-clip: initial;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: #000000;
}
#cpt .content .lng ul {
  margin: 0;
}
#cpt .content .lng h3 {
  font-weight: 800;
  font-size: clamp(24px, 3vw, 29px);
}
#cpt .content .lng p {
  font-weight: 700;
  font-size: clamp(20px, 2vw, 25px);
}

#ctc .plhld {
  margin-right: 27%;
}
#ctc .txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-basis: 90%;
}
#ctc .txt h2 {
  position: absolute;
  right: 0;
  top: 10%;
  margin-right: 0.5em;
}
#ctc .txt a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 1em;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
#ctc .txt a:hover {
  font-weight: 500;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
#ctc .txt .links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
}
#ctc .txt img {
  width: 100px;
}

@media only screen and (max-width: 1050px) {
  body {
    overflow-x: hidden;
  }
  .content {
    min-width: 340px;
  }
  #hm h1 {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 1050px) and (max-width: 768px) {
  #hm .content {
    flex-direction: column-reverse;
  }
  #hm .plhld {
    position: absolute;
    top: 20%;
    width: 90vw;
    height: 20vh;
  }
  #hm h2 {
    margin-left: 0;
    border-bottom: 2px solid #000000;
    margin-bottom: 2em;
  }
  #hm .menu {
    margin: 0;
  }
}
@media only screen and (max-width: 1050px) {
  #prp p {
    margin: 1em !important;
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 1050px) and (max-width: 768px) {
  #prp .plhld h3 {
    margin-top: 0.5em !important;
  }
}
@media only screen and (max-width: 1050px) {
  #prj .prj_lst {
    overflow-x: scroll;
    padding-left: 5%;
  }
}
@media only screen and (max-width: 1050px) and (max-width: 768px) {
  #prj .txt:first-of-type {
    flex-direction: column;
  }
  #prj .prj_lst {
    margin-top: 0;
  }
  #prj article {
    min-width: 300px;
  }
}
@media only screen and (max-width: 1050px) {
  #crr .content {
    padding: 1em;
  }
  #crr .content > div {
    flex-direction: column;
  }
  #crr .content h3 {
    margin-bottom: 0 !important;
    cursor: pointer;
    flex-basis: 100%;
  }
  #crr .content h3:not(.active) {
    margin-bottom: 0;
  }
  #crr .content li p {
    width: 100%;
  }
  #crr .content ul:first-of-type > h3:before {
    border-left: 6px solid #000000;
    left: 1em;
  }
  #crr .content ul:last-of-type > h3::before {
    border-right: 6px solid #000000;
    right: 1em;
  }
  #crr .content h3::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 0.3em;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    transition: 0.1s;
  }
  #crr .content ul:first-of-type > h3.active::before {
    rotate: 90deg;
    transition: 0.1s;
  }
  #crr .content ul:last-of-type > h3.active::before {
    rotate: -90deg;
    transition: 0.1s;
  }
  #crr .content ul {
    display: flex;
    flex-wrap: wrap;
  }
  #crr .content ul:nth-of-type(even) {
    justify-content: flex-end;
  }
  #crr .content ul::before {
    display: none;
  }
  #crr .content ul:has(h3:not(.active)) li {
    display: none;
    overflow: hidden;
  }
  #crr .content ul :has(h3.active) li {
    display: block;
  }
  #crr .content ul li:first-of-type p::before {
    display: none;
  }
}
@media only screen and (max-width: 1050px) and (max-width: 768px) {
  #crr .content ul span {
    white-space: normal;
  }
  #crr .content h3 {
    margin: 0 !important;
  }
  #crr .content ul:has(.active) li {
    display: block !important;
  }
}
@media only screen and (max-width: 1050px) {
  #cpt .content {
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 1050px) and (max-width: 768px) {
  #cpt .content h2 {
    margin-bottom: 1em;
  }
  #cpt .content .lng {
    padding: 0.5em;
  }
  #cpt .content p {
    margin: 0;
  }
}
@media only screen and (max-width: 1050px) {
  #cpt .content > div {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1050px) {
  #cpt .content .tch {
    width: 100%;
    justify-content: center;
    margin-bottom: 2em;
  }
  #cpt .content .tch > .img {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 1050px) {
  #ctc .plhld {
    margin-right: 0;
  }
  #ctc .txt h2 {
    position: relative;
    right: 0;
    top: 0;
    margin-right: 0;
  }
  #ctc .content {
    flex-direction: column;
  }
}
.cd-section > div {
  width: 100%;
  height: 100%;
}
.cd-section > div .content {
  height: 96vh;
  margin: 2vh 2vw;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}
.cd-section > div .content > .plhld {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    translate: translateZ(0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  [data-hijacking=on] .cd-section > div {
    position: absolute;
  }
}

.content {
  padding: 2rem 2%;
  display: flex;
}

body.classic {
  font-family: "Syne", sans-serif;
}
body.classic .content {
  background-color: #DCDCDC;
}
body.classic .plhld::after {
  border-radius: 1em;
  content: " ";
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url(../img/grain.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
body.classic > #hm h1 {
  font-weight: 800;
}
body.classic > #hm .content h2 {
  background-color: #DCDCDC;
}
body.classic > #hm .content > .plhld {
  background: radial-gradient(118.21% 105.56% at 81.41% 22.76%, #52AF82 7.81%, #F7931E 100%);
}
body.classic > #prp .content > .plhld {
  background: radial-gradient(181.58% 231.65% at 59.78% -52.89%, #489297 0%, #A158A3 100%);
}
body.classic > #prp h3 {
  color: #DCDCDC;
}
body.classic > #prj {
  color: #DCDCDC;
}
body.classic > #prj .content {
  background: radial-gradient(107.13% 107.13% at 61.8% 135.36%, #000000 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(159.54% 217.2% at 117.17% -23.99%, #CE31DC 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(101.14% 183.47% at 2.29% 6.65%, #DB6B1A 0%, rgba(0, 0, 0, 0) 100%), #000000;
}
body.classic > #prj article .txt {
  color: #000000;
}
body.classic > #crr .content {
  background: radial-gradient(96.57% 175.16% at 14.45% 50%, rgba(210, 207, 207, 0) 0%, #D268A2 100%), radial-gradient(76.25% 138.32% at -8.87% 50%, #AD2222 0%, #D2CFCF 100%);
}
body.classic > #cpt .content {
  background: radial-gradient(346.77% 7572.55% at 13.77% -111.14%, #AA4B6B 0%, #6B6B83 15%, #3B8D99 20%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body.classic > #cpt .img {
  background: #AA4B6B;
}
body.classic > #cpt .lng {
  background: radial-gradient(346.77% 7572.55% at 13.77% -111.14%, #AA4B6B 0%, #6B6B83 1%, #3B8D99 20%);
}
@media only screen and (max-width: 1050px) {
  body.classic > #cpt .lng {
    background: radial-gradient(346.77% 7572.55% at 13.77% -111.14%, #AA4B6B 0%, #6B6B83 15%, #3B8D99 30%);
  }
}
body.classic > #ctc .plhld {
  background: radial-gradient(201.37% 90.59% at 138.57% 109.57%, rgba(121, 100, 249, 0) 0%, rgba(110, 162, 222, 0.31) 23.92%, rgba(252, 172, 249, 0.31) 63.04%, rgba(255, 208, 253, 0) 90.45%), radial-gradient(154.32% 154.32% at -25.49% -30.97%, rgba(121, 100, 249, 0.46) 0%, rgba(110, 162, 222, 0.46) 23.92%, rgba(252, 172, 249, 0.46) 63.04%, rgba(255, 208, 253, 0.46) 90.45%);
}

@font-face {
  font-family: "Valky", serif;
  src: url("../img/flower/Valky.otf") format("opentype");
}
body.flower .content {
  background-color: #DAD7CD;
}
body.flower .content::after {
  width: 95.5vw;
  height: 96vh;
  margin: 2vh 2vw;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/flower/grain-flower.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  mix-blend-mode: luminosity;
}
body.flower h1, body.flower h2, body.flower h3 {
  font-family: "Valky";
  font-weight: 500;
}
body.flower p, body.flower a {
  font-family: "Montserrat", sans-serif;
}
body.flower > #hm h2 {
  margin-top: 10em;
  margin-left: 5%;
}
body.flower > #hm .plhld {
  z-index: 1;
  background-image: url("../img/flower/plhld-flower.png");
  background-size: contain;
  border-radius: 400px 400px 0 0;
  width: 50vw;
  margin-right: 10%;
  border: 2px solid #A3B18A;
  box-shadow: 0px 0px 0px 10px #3A5A40;
}
body.flower > #prp .plhld {
  z-index: 1;
  background-image: url("../img/flower/plhld-flower.png");
  background-size: cover;
  border-radius: 400px;
  margin-right: 10%;
  border: 2px solid #A3B18A;
  box-shadow: 0px 0px 0px 10px #3A5A40;
  margin-top: 2em;
}
body.flower > #prp h3 {
  margin: 5em 11vw 0 11vw;
  width: 70vw;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #DAD7CD;
}
body.flower > #prp h3::after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  -webkit-mask: url("../img/flower/star.svg") no-repeat center;
  mask: url("../img/flower/star.svg") no-repeat center;
  background-color: #DAD7CD;
  margin: 2em auto auto auto;
}
body.flower > #prj .content {
  background-color: #405644;
  color: #DAD7CD;
}
body.flower > #prj .content::after {
  mix-blend-mode: multiply;
}
body.flower > #prj .content > .txt h3 {
  font-family: "Montserrat", sans-serif;
}
body.flower > #prj .content .prj_lst {
  z-index: 1;
  color: #000000;
}
body.flower > #prj .content .prj_lst p {
  font-size: 0.9em;
}
body.flower > #crr .content {
  color: #000000;
}
body.flower > #crr .content h2, body.flower > #crr .content div {
  z-index: 1;
}
body.flower > #crr .content .year {
  font-family: "Valky", serif;
}/*# sourceMappingURL=style.css.map */