// colors

$black: #000000;


// fonts 

$primary-font: 'Open Sans', sans-serif;

//classic


$classic-white: #DCDCDC;

$classic-font: 'Syne', sans-serif;

$classic-green: #52AF82;

$classic-orange: #F7931E;

$classic-blue: #489297;

$classic-pink: #A158A3 ;