// colors

$black: #000000;

$classic-bg: #DCDCDC;

// fonts 

$primary-font: 'Open Sans', sans-serif;

//classic

$classic-font: 'Syne', sans-serif;

$classic-green: #52AF82;

$classic-orange: #F7931E;